{% extends "projects/layout.html" %}
{% block head%}
{{ super() }}
<title>追加ページ</title>
{% endblock %}
{% block body%}
<h2>コメント追加</h2>
<form action="{{ url_for('add_entry') }}" method="POST">
    {{ form.csrf }}

    <fieldset>
        <div class="clearfix">
            <label for="title">タイトル</label>
            <div class="input">
                {{ form.title(size="30") }}
            </div>
        </div>
        <div class="clearfix">
            <label for="text">内容</label>
            <div class="input">
                {{ form.text(rows="5") }}
            </div>
        </div><!-- /clearfix -->
        <div class="actions">
        <input type="submit" class="btn primary" value="投稿"/>
        <input type="reset" class="btn" value="リセット"/>
        </div>
    </fieldset>
</form>
{% endblock %}
