{% extends "projects/layout.html" %}
{% block head%}
{{ super() }}
<title>ユーザ新規登録ページ</title>
{% endblock %}
{% block body%}
<h2>新規登録フォーム</h2>
<form action="{{ url_for('add_user') }}" method="POST">
    {{ form.csrf }}
    <fieldset>
        <div class="clearfix">
            <label for="username">ユーザ名</label>
            <div class="input">
                {{ form.username(size="30") }}
            </div>
        </div>
        <div class="clearfix">
            <label for="password">パスワード</label>
            <div class="input">
                {{ form.password(size="30") }}
            </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
            <label for="repassword">再パスワード</label>
            <div class="input">
                {{ form.repassword(size="30") }}
            </div>
        </div><!-- /clearfix -->
        <div class="actions">
        <input type="submit" class="btn primary" value="登録" />
        <input type="reset" class="btn" value="リセット"/>
        </div>
    </fieldset>
</form>
{% endblock %}
