<!DOCTYPE html>
<html lang="ja">
<head>
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}
</head>
<body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ url_for('.index') }}">掲示板テスト</a>
          <ul class="nav">
            {% if not session['user'] %}
            <li class="active"><a href="{{ url_for('.add_user') }}">ユーザ登録</a></li>
            {% else: %}
            <li><a href="{{ url_for('.add_entry') }}">コメント追加</a></li>
            {% endif %}
          </ul>
          {% if not session['user']  %}
          <form action="{{ url_for('.login') }}" method="POST" class="pull-right">
            <input class="input-small" type="text" name="username" placeholder="Username">
            <input class="input-small" type="password"  name="password" placeholder="Password">
            <button class="btn" type="submit">ログイン</button>
          </form>
          {% else %}
          <form action="{{ url_for('.logout') }}" method="GET" class="pull-right">
            <button class="btn" type="submit">ログアウト</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>THE 掲示板 <small>ただの掲示板のテストですよ。</small></h1>
        </div>
        <div class="row">
          <div class="span14">
            {% for message in get_flashed_messages() %}
            <div class="alert-message block-message info">
              <a class="close" href="#">&times;</a>
              <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% if error %}
            <div class="alert-message block-message error">
              <p>{{ error }}</p>
            </div>
            {% endif %}
          </div>
          <div class="span14">
            {% block body %} {% endblock %}
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>
    </div> <!-- /container -->
</body>
</html>
